main {
    width: 100%;
    overflow: hidden;
    
    .slick-slide {
        margin-top: 25%;
        padding: 0 65px;

        width: 100%;
        overflow: hidden;

        a {
            .img-container {
                display: block;
                width: 100%;
                height: 100%;

                img {
                    height: 100%;
                }
            }
        }
    }

    .movie-recommend {
        margin-top: 30px;
        padding: 0 65px;
        
        h2 {
            margin: 20px 0;
            color: #fff;
            font-size: 1.5em;
        }
        
        &__cards {
            position: relative;
            display: flex;
            flex-wrap: nowrap;
            width: 100%;
            gap: 30px;
            overflow-x: scroll;

            .card {
                
                button {
                    .wrapper {
                        img {
                            width: 150px;
                            border-radius: 15px;
                        }
                        .detail {
                            padding-top: 10px;
                            h4 {
                                padding-bottom: 3px;
                                color: #fff;
                                font-size: 1em;
                            }
        
                            p {
                                color: #a3a3a3;
                                font-size: 0.9em;
                            }
                        }
                    }
                }
            }

            .modal {
                position: fixed;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 70%;
                background: #fff;
                border-radius: 15px;
                box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.7);
                z-index: 99;

                .modal-content {
                    .content-top {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding: 20px 20px;

                        span {
                            width: 30px;

                        }
                    }
                    .content-bottom {
                        display: flex;
                        img {
                            width: 50%;
                            border-radius: 0 60px 0 0;
                        }
                        .detail {
                            padding: 30px;
                            p {
                                padding-bottom: 20px;
                            }
                            h4 {
                                padding-bottom: 10px;
                            }
                        }
                    }
                }
            }
        }
    }

    .movie-list {
        margin-top: 30px;
        padding: 0 65px;

        h2 {
            margin: 20px 0;
            color: #fff;
            font-size: 1.5em;
        }

        &__cards {
            .cards-container {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                width: 100%;
                gap: 30px;
                
                .card {
                    width: 200px;
    
                    button {
                        .wrapper {
                            img {
                                border-radius: 15px;
            
                            }
                            .detail {
                                padding-top: 10px;
                                h4 {
                                    padding-bottom: 3px;
                                    color: #fff;
                                    font-size: 1em;
                                }
            
                                p {
                                    color: #a3a3a3;
                                    font-size: 0.9em;
                                }
                            }
                        }
                    }
                }
            }

            .modal {
                position: fixed;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 70%;
                background: #fff;
                border-radius: 15px;
                box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.7);
                z-index: 99;

                .modal-content {
                    .content-top {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding: 20px 20px;

                        span {
                            width: 30px;

                        }
                    }
                    .content-bottom {
                        display: flex;
                        img {
                            width: 50%;
                            border-radius: 0 60px 0 0;
                        }
                        .detail {
                            padding: 30px;
                            p {
                                padding-bottom: 20px;
                            }
                            h4 {
                                padding-bottom: 10px;
                            }
                        }
                    }
                }
            }

            .pagination {
                display: flex;
                justify-content: center;
                margin: 50px auto; 
                button {
                    color: #fff;
                    font-size: 1.3em;
                }
            }
        }
    }   
}